
body, html {
  height: 100%;
  margin: 0;
  background-image: url("laura-vinck-Hyu76loQLdk-unsplash.jpg");
  background-color: rgb(126, 126, 126);
}

.pic1 {
  background-image: url("laura-vinck-Hyu76loQLdk-unsplash.jpg");
  height: 100%;
}
.pic1{
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  position: relative;
  width: 25%;
}

.container:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.boxfade{
  position: absolute;
  top: 25%;
  right: 25%;

  width: 50%;
  height: 50%;

  box-shadow: 10px 10px 15px rgba(172, 127, 127, 0.137);
  border: 10px solid rgba(156, 152, 196, 0.137);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
   }

  .boxfade:hover{
    background-color:rgba(180, 148, 148, 0.692);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }









  .boxfade:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .inside{
  position: absolute;
  top: 5%;
  right: 52%;

  width: 46%;
  height: 89%;

  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;
  background-color: rgba(70, 103, 109, 0.603);
  }




  .inside:after {
    content: "";
    display: block;
    padding-top: 50%;

  }
  .name {
    position: relative;
    width: 25%;
  }

  .name{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 150px;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }








  .boxfade:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .inside2{
  position: absolute;
  top: 5%;
  right: 2%;

  width: 46%;
  height: 89%;


  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;

  background-color: rgba(70, 103, 109, 0.603);
  }





  .inside2:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .listam{
  list-style-type: none;
  margin: 0;
  padding: 0;
  }



  .listam:after{
    content: "";
    display: block;
    padding-top: 50%;
  }
  .p{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 28%;
    right: 58%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }


  .listam:after{
    content: "";
    display: block;
    padding-top: 5%;
  }
  .a{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 45%;
    right: 60%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }


  .listam:after{
    content: "";
    display: block;
  }
  .c{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 65%;
    right: 61%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  }





  .container {
    position: relative;
    width: 25%;
  }

  .container:after {
    content: "";
    display: block;
    padding-top: 50%;
  }
  .footerfade{
    position: absolute;
    top: 84%;
    right: 10%;

    width: 80%;
    height: 15%;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius:  5px;
     }





     .footerfade:after{
      content: "";
      display: block;
    }

    .socialicon1{
      position: absolute;
      top: 50%;
      right: 55%;
    }

    .socialicon2{
      position: absolute;
      top: 50%;
      right: 52%;
    }

    .socialicon3{
      position: absolute;
      top: 50%;
      right: 49%;
    }

    .socialicon4{
      position: absolute;
      top: 50%;
      right: 45%;
    }

    .socialicon5{
      position: absolute;
      top: 50%;
      right: 42%;
    }