body, html {
  height: 100%;
  margin: 0;
  background-color: rgb(126, 126, 126);
}

.pic1 {
  background-image: url("laura-vinck-Hyu76loQLdk-unsplash.jpg");
  height: 100%;
}
.pic1{
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  position: relative;
  width: 25%;
}

.container:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.boxfade{
  position: absolute;
  top: 25%;
  right: 25%;

  width: 50%;
  height: 50%;

  box-shadow: 10px 10px 15px rgba(172, 127, 127, 0.137);
  border: 10px solid rgba(156, 152, 196, 0.137);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
   }

  .boxfade:hover{
    background-color:rgba(180, 148, 148, 0.692);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }






  .in-box:after {
    content: "";
    display: block;
    /*padding-top: 50%;*/
  }

  .inside{
  position: absolute;
  top: 5%;
  right: 50%;

  width: 46%;
  height: 89%;

  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;

   }








  .boxit:after {
    content: "";
    display: block;
    /*padding-top: 50%;*/
  }

  .inside2{
  position: absolute;
  top: 5%;
  right: 4%;

  width: 46%;
  height: 89%;


  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;

  -webkit-transition: all 1s ease ;
  -moz-transition: all 1s ease ;
  -ms-transition: all 1s ease ;
  -o--transition: all 1s ease ;
  transition: all 1s ease ;
   }

  .inside2:hover{
    background-color:rgb(100, 180, 175);
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
  }







  .inside-name:after {
    content: "";
    display: block;
    /*padding-top: 50%;*/
    clear: both;
  }

  .name{
  position: absolute;
  top: 43%;
  right: 11%;
  content: inherit;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  color: black;

