body, html {
  height: 100%;
  margin: 0;
  background-color: rgb(126, 126, 126);
}

.pic1 {
  background-image: url("laura-vinck-Hyu76loQLdk-unsplash.jpg");
  height: 100%;
}
.pic1{
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  position: relative;
  width: 25%;
}

.container:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.boxfade{
  position: absolute;
  top: 25%;
  right: 25%;

  width: 50%;
  height: 50%;

  box-shadow: 10px 10px 15px rgba(172, 127, 127, 0.137);
  border: 10px solid rgba(156, 152, 196, 0.137);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
   }

  .boxfade:hover{
    background-color:rgba(180, 148, 148, 0.692);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }







  .in-box:after {
    content: "";
    display: block;
    /*padding-top: 50%;*/
  }

  .inside{
  position: absolute;
  top: 5%;
  right: 52%;

  width: 46%;
  height: 89%;

  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;
  background-color: rgba(70, 103, 109, 0.603);
  }

  .inside-name:after {
    content: "";
    display: block;
    padding-top: 50%;

  }

  .name{
  position: absolute;
  top: 43%;
  right: 32%;

  margin: .5em auto;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }








  .in-box:after {
    content: "";
    display: block;
    /*padding-top: 50%;*/
  }

  .inside2{
  position: absolute;
  top: 5%;
  right: 2%;

  width: 46%;
  height: 89%;


  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;

  background-color: rgba(70, 103, 109, 0.603);
  }





  .inside2:after {
    content: "";
    display: block;
    padding-top: 50%;

  }

  .list{
  position: absolute;
  top: 24%;
  right: 36%;

  list-style-type: none;
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }
