
body, html {
  /*height: 100% auto;
  height: 100% auto;*/
  margin:0;
  justify-content: center;

  background-color: rgb(17, 15, 12);
  background-image: url("stars-5120x2880-star-trail-galaxy-sky-4k-6k-18295.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}


  .boxfade{

    width: auto;
    height: auto;
    box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
    border: 10px solid rgba(77, 77, 77, 0);
    border-radius:  5px;

    display: flex;
    align-items: center;
     justify-content: center;
     background-color:rgba(129, 122, 96, 0.219);
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o--transition: all 1s ease-in;
    transition: all 1s ease-in;
    padding: 3% 3%;
    margin: 5% 0;
   }
  .boxfade:hover{
    background-color:rgba(129, 122, 96, 0.678);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }
  .container{
    width: 800px;
    margin: 50px auto;
    display: table;
    box-sizing: border-box;
 }




 .img1{
  background-image: url("IMG_7703.jpg");
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;

}
.img2{
  background-image: url("f83c8b84d1f13174c65bf841444d8785.jpg");
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;

}
.img3{
  background-image: url("IMG_3527.jpg");
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;

}
.img4{
  background-image: url("cropped-Waterpolo-Ball-120417D-9737-4.jpg");
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
}



.p1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;

  font-weight:80;
}
.p2{
  font-family:Arial, Helvetica, sans-serif;;
  font-size: 20px;

  font-weight:80;
}
.p3{
  font-family:Arial, Helvetica, sans-serif;;
  font-size: 20px;

  font-weight: 80;
}
.p4{
  font-family:Arial, Helvetica, sans-serif;;
  font-size: 20px;

  font-weight:80;
}
.p5{
  font-family:Arial, Helvetica, sans-serif;;
  font-size: 20px;

  font-weight:80;
}





