body, html {
  height: 100% auto;
  height: 100% auto;
  margin: 0;
  background-color: rgb(126, 126, 126);
  background-image: url("stars-5120x2880-star-trail-galaxy-sky-4k-6k-18295.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  position: relative;
  width: 25%;
}

.container:after {
  content: "";
  display: block;
  padding-top: 50%;
}

.boxfade{
  position: absolute;
  top: 25%;
  right: 25%;

  width: 50%;
  height: 50%;

  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
   }

  .boxfade:hover{
    background-color:rgb(129, 122, 96);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }









  .boxfade:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .inside{
  position: absolute;
  top: 5%;
  right: 52%;

  width: 46%;
  height: 89%;

  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;
  background-color: rgba(160, 161, 161, 0.747);
  }




  .inside:after {
    content: "";
    display: block;
    padding-top: 50%;

  }
  .name {
    position: relative;
    width: 25%;
  }

  .name{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 150px;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }








  .boxfade:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .inside2{
  position: absolute;
  top: 5%;
  right: 2%;

  width: 46%;
  height: 89%;


  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius:  5px;

  background-color: rgba(160, 161, 161, 0.747);
  }



  .inside2:after {
    content: "";
    display: block;
    padding-top: 50%;
  }

  .listam{
  list-style-type: none;
  margin: 0;
  padding: 0;
  }



  .listam:after{
    content: "";
    display: block;
    padding-top: 50%;
  }
  .p{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 28%;
    right: 58%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }


  .listam:after{
    content: "";
    display: block;
    padding-top: 5%;
  }
  .a{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 45%;
    right: 60%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  }


  .listam:after{
    content: "";
    display: block;
  }
  .c{
    width: 0px;
    height: 0px;
    margin: 0 auto;

    position: absolute;
    top: 65%;
    right: 61%;

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  }

  a:link {
    color: rgb(35, 0, 92);
  }
  a:visited {
    color: rgb(0, 0, 0);
  }
  a:active {
    color: blue;
  }





  .container {
    position: relative;
    width: 25%;
  }

  .container:after {
    content: "";
    display: block;
    padding-top: 50%;
  }
  .footerfade{
    position: absolute;
    top: 84%;
    right: 10%;

    width: 80%;
    height: 3%;

    font-size: medium;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius:  5px;

    background-color: rgba(160, 161, 161, 0.747);
     }





     .footerfade:after{
      content: "";
      display: block;
    }



    .socialicon1{
      position: absolute;
      top: 6%;
      right: 55%;
    }
    .socialicon1:link {
      color: rgb(35, 0, 92);
    }
    .socialicon1:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon1:active {
      color: blue;
    }






    .socialicon2{
      position: absolute;
      top: 6%;
      right: 52%;
    }
    .socialicon2:link {
      color: rgb(35, 0, 92);
    }
    .socialicon2:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon2:active {
      color: blue;
    }





    .socialicon3{
      position: absolute;
      top: 6%;
      right: 49%;
    }
    .socialicon3:link {
      color: rgb(35, 0, 92);
    }
    .socialicon3:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon3:active {
      color: blue;
    }





    .socialicon4{
      position: absolute;
      top: 6%;
      right: 45%;
    }
    .socialicon4:link {
      color: rgb(35, 0, 92);
    }
    .socialicon4:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon4:active {
      color: blue;
    }





    .socialicon5{
      position: absolute;
      top: 6%;
      right: 42%;
    }
    .socialicon5:link {
      color: rgb(35, 0, 92);
    }
    .socialicon5:visited {
      color: rgb(47, 0, 255);
    }
    .socialicon5:active {
      color: blue;
    }





