
body, html {
  height: 100% auto;
  height: 100% auto;
  margin: 0;
  background-color: rgb(17, 15, 12);
  background-image: url("stars-5120x2880-star-trail-galaxy-sky-4k-6k-18295.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
}




/*boxfade*/
.container{

  width: 800px;
  margin: 50px auto;
  display: table;
  box-sizing: border-box;
 }
.boxfade{
  position: absolute;
  top: 25%;
  right: 25%;

  width: 50%;
  height: 50%;

  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.493);
  border: 10px solid rgba(77, 77, 77, 0);
  border-radius:  5px;

  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o--transition: all 1s ease-in;
  transition: all 1s ease-in;
   }

  .boxfade:hover{
    background-color:rgb(129, 122, 96);
    -webkit-opacity: 2;
    -moz-opacity: 2;
    opacity: 2;
  }



/*box inside the boxfade*/

.row{
  margin: 20px 0;
  transition: .5s;
}
.brow:after {
  content: "";
  display: block;
  padding-top: 50%;
}



/*column first right*/
.column1{
display:table-cell ;

position: absolute;
top: 2%;
right: 51%;
padding: 10px;
width: 47.33333%;
height: 95.66666%;

text-align: center;
color: black;
vertical-align: middle;

border-radius:  5px;
border-right:2px solid rgba(255, 255, 255, 0.068);
border-left: 2px solid rgba(255, 255, 255, 0.068);

background-color: rgba(160, 161, 161, 0.747);
transition: .5s;
}





/*column1 include text*/

.name{
text-align: justify;


  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}





/*column second right*/
.column2{
  display:table-cell ;

  position: absolute;
  top: 2%;
  right: 2%;
  padding: 10px;
  width: 48.33333%;
  height: 95.66666%;

  text-align: center;
  color: black;
  vertical-align: middle;

  border-radius:  5px;
  border-right:2px solid rgba(255, 255, 255, 0.068);
  border-left: 2px solid rgba(255, 255, 255, 0.068);

  background-color: rgba(160, 161, 161, 0.747);
  transition: .5s;
  }







@media (max-width:900px){

        .container{

            margin: 0;
            padding: 0;
            width: 100%;
        }

        .column1 .column2{
          width: 100px auto;
          display: block;
          margin: 10px 0;
          border: 10px 0;
          box-sizing: border-box;
        }

        .row{

          margin: 0;
        }
}









  .footerfade{
    position: absolute;
    top: 84%;
    right: 10%;

    width: 80%;
    height: 3%;

    font-size: medium;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius:  5px;

    background-color: rgba(160, 161, 161, 0.747);
     }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .a1 {
      float: left;
    }
    .a1 .a2  {
      display: block;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }







   .footerfade:after{
      content: "";
      display: block;
    }



    .socialicon1{
      position: absolute;
      top: 6%;
      right: 55%;
    }
    .socialicon1:link {
      color: rgb(35, 0, 92);
    }
    .socialicon1:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon1:active {
      color: blue;
    }






    .socialicon2{
      position: absolute;
      top: 6%;
      right: 52%;
    }
    .socialicon2:link {
      color: rgb(35, 0, 92);
    }
    .socialicon2:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon2:active {
      color: blue;
    }





    .socialicon3{
      position: absolute;
      top: 6%;
      right: 49%;
    }
    .socialicon3:link {
      color: rgb(35, 0, 92);
    }
    .socialicon3:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon3:active {
      color: blue;
    }





    .socialicon4{
      position: absolute;
      top: 6%;
      right: 45%;
    }
    .socialicon4:link {
      color: rgb(35, 0, 92);
    }
    .socialicon4:visited {
      color: rgb(255, 255, 255);
    }
    .socialicon4:active {
      color: blue;
    }





    .socialicon5{
      position: absolute;
      top: 6%;
      right: 42%;
    }
    .socialicon5:link {
      color: rgb(35, 0, 92);
    }
    .socialicon5:visited {
      color: rgb(47, 0, 255);
    }
    .socialicon5:active {
      color: blue;
    }


